#  Virtex 4 ML403 Evaluation Platform
Net fpga_0_RS232_Uart_sin_pin LOC=W2  |  IOSTANDARD = LVCMOS33;
Net fpga_0_RS232_Uart_sout_pin LOC=W1  |  IOSTANDARD = LVCMOS33;
Net fpga_0_DDR_SDRAM_DDR_Clk_pin LOC=A10  |  IOSTANDARD = DIFF_SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_Clk_n_pin LOC=B10  |  IOSTANDARD = DIFF_SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_CE_pin LOC=G22  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_CS_n_pin LOC=G21  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_RAS_n_pin LOC=F24  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_CAS_n_pin LOC=F23  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_WE_n_pin LOC=A23  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_BankAddr_pin<0> LOC=B12  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_BankAddr_pin<1> LOC=A16  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<0> LOC=C26  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<1> LOC=E17  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<2> LOC=D18  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<3> LOC=C19  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<4> LOC=F17  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<5> LOC=B18  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<6> LOC=B20  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<7> LOC=C20  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<8> LOC=D20  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<9> LOC=C21  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<10> LOC=A18  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<11> LOC=B21  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_Addr_pin<12> LOC=A24  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<0> LOC=H20  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<1> LOC=E23  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<2> LOC=H26  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<3> LOC=H22  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<4> LOC=E25  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<5> LOC=E26  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<6> LOC=F26  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<7> LOC=E24  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<8> LOC=E20  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<9> LOC=A22  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<10> LOC=C23  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<11> LOC=C24  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<12> LOC=A20  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<13> LOC=A21  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<14> LOC=D24  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<15> LOC=E18  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<16> LOC=F18  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<17> LOC=A19  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<18> LOC=F19  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<19> LOC=B23  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<20> LOC=E21  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<21> LOC=D22  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<22> LOC=D23  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<23> LOC=B24  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<24> LOC=E22  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<25> LOC=F20  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<26> LOC=H23  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<27> LOC=G25  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<28> LOC=G26  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<29> LOC=H25  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<30> LOC=H24  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQ_pin<31> LOC=H21  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DM_pin<0> LOC=G19  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_DM_pin<1> LOC=G24  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_DM_pin<2> LOC=G20  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_DM_pin<3> LOC=C22  |  IOSTANDARD = SSTL2_I;
Net fpga_0_DDR_SDRAM_DDR_DQS_pin<0> LOC=D25  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQS_pin<1> LOC=G18  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQS_pin<2> LOC=G17  |  IOSTANDARD = SSTL2_II;
Net fpga_0_DDR_SDRAM_DDR_DQS_pin<3> LOC=D26  |  IOSTANDARD = SSTL2_II;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=AE14  |  IOSTANDARD = LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=D6  |  PULLUP;

###### ppc405_0
NET "ppc405_0/C405RSTCHIPRESETREQ" TPTHRU = "ppc405_0_RST_GRP";
NET "ppc405_0/C405RSTCORERESETREQ" TPTHRU = "ppc405_0_RST_GRP";
NET "ppc405_0/C405RSTSYSRESETREQ" TPTHRU = "ppc405_0_RST_GRP";
TIMESPEC "TS_RST_ppc405_0" = FROM CPUS THRU ppc405_0_RST_GRP TO FFS TIG;
